doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/main.css")
    title Document  
  body 
        header#header
            #container
                img(src="../img/background.png", alt="")
                #logo
                  h2 MalabarHut
                  nav.navbar
                      ol 
                        li 
                          a.a(href="#") Home
                        li
                          a(href="#") Menu
                        li 
                          a(href="#") About
                         
                        li 
                          a(href="#") Contact
                         
                        li 
                          a(href="#") Location
  
                #img 
                  img.img1(src="../img/image.png", alt="")
                  img.img2(src="../img/dishes_scroll.png", alt="")
                  //- img.img3(src="", alt="")
                #text 
                   p.text1 Are you Hungry?
                   h2.text2 Don’t Wait!
                   p.text3 Let’s start order food now
  
                button Check Menu
                
        script(src="../app.js") 

